BasedOnStyle: LLVM
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
ColumnLimit: 150
IndentWidth: 4
TabWidth: 4
AccessModifierOffset: -4
UseTab: Never
AllowShortFunctionsOnASingleLine: None
DerivePointerAlignment: false
PointerAlignment: Left
SpacesBeforeTrailingComments: 1
SortIncludes: true
BreakConstructorInitializersBeforeComma: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: Allman
AlwaysBreakAfterReturnType: None
QualifierAlignment: Left